.App {
  overflow: hidden;
  text-align: center;
}

.sticky{
  z-index: 999999;
}
.App-logo {
  height: 10vmin;
  pointer-events: none;
}
.logo-container {
  pointer-events: none;
  margin: 0 12px;
  &>img{
    height: 10vmin;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s forwards;
  }
  .logo-container {
    //animation: App-logo-spin infinite 4s forwards;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainContainer{
  width: 100%;
  height: 100%;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  &>.treatmentContainer{
    box-sizing: border-box;
      &>.headerWrapper{
        color: #272727;
        margin-bottom: 50px;
        text-align: center;
        &>h3{
          font-weight: 600;
          margin-top: 0px;
          margin-bottom: 0px;
          font-family: Metropolis, sans-serif;
          font-size: 36.5px;
          line-height: 1.4em;
        }
      }
  }

}

.main-menu-holder{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  &>.main-menu-container{
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1190px;
    height: 100%;
    display: flex;


    &>.menu-list-holder-mobile{
      //position: relative;
      //display: block;
      width: 100%;
      height: auto;
      //margin: 24px auto;

      .socialMediaListContainerMobile{
        width: 100%;
        background-color: red;
      }
      .menu-list-container-mobile{
        margin: 24px auto;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        min-width: 300px;
        justify-content: flex-start;
        align-items: center;

        &>.menu-list-item-mobile{
          position: relative;
          width: calc(100% - 24px);
          text-decoration: none;
          text-align: left;
          margin: 12px auto 12px 45px;
        }
      }
    }

    &>.hamburger-react{
      position: absolute !important;
      right: 19px !important;
    }

    &>.menu-list-holder{
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      width: max-content;
      box-sizing: border-box;
      font-family: Arial,sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: #333;
      &>.menu-list-item{
        margin-right: 15px;
        padding: 10px;
        -webkit-transition: color 300ms ease;
        transition: color 300ms ease;
        font-family: Metropolis, sans-serif;
        color: #272727;
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
        text-decoration: none;
        &:hover{
          color: #379bb3;
          cursor: pointer;
        }
      }
    }
  }
}

.social-media-holder{
  min-height: 45px;
  background: #272727;
  color: #ffffff;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  .social-media-container{
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1190px;
    height: 100%;
    display: flex;

    .social-media-item-container{
      font-size: 13px;
      position: relative;
      display: flex;
      //width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      //justify-content: flex-start;
      align-items: center;

      width: 25%;
      justify-content: flex-end;


      &>.separator{
        color: white;
        margin: 0 1px;
      }
    }
  }
}


.social-media-item{
  //color: #ffffff;
  display: flex;
  width: fit-content;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 24px;
  &>.icon{
    margin: 0 4px;
    font-size: 14px;
    color: #ffffff;
  }

  &>div>.phoneHref{
    text-decoration: none;
    color: #ffffff;
  }
}


.mainBlockContainer{
  width: 100%;
  height: 100%;
  max-width: 1160px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 160px auto;
  background-color: #f6f9f7;

  &>.aboutContainer{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    &>.aboutImageWrapper{
      width: 550px;
      height: 510px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;

      &>img{
        height: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }

      &>.aboutExperienceWrapper{
        width: 170px;
        height: 170px;
        line-height: 65px;
        background-color: #ffffff;
        margin-top: -85px;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0;
        border-bottom: 2px solid #379bb3;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        &>.experienceNumber{
          font-size: 60px;
        }
        &>.experienceText{
          color: #595959;
        }
      }
    }



    &>.aboutTextWrapper{
      max-width: 545px;
      margin-left: 50px;
      padding-left: 10px;
      text-align: center;
      display: flex;
      width: calc(50% - 42px);
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-around;
      background: #ffffff;
      &>.aboutHeading{
        font-family: Metropolis, sans-serif;
        font-size: 36.5px;
        line-height: 1.4em;
        font-weight: 600;
        margin: 32px auto;
      }
      &>.aboutParagraph{
        margin-top: 20px;
        margin-bottom: 38px;
        line-height: 30px;
        font-size: 18px;
        /* text-align: left; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: center;
        align-items: center;
        font-family: Hind, sans-serif;
        color: #595959;
      }
      &>.aboutBtnWrapper{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #379bb3;
        //font-family: Metropolis, sans-serif;
        //font-size: 15px;
        //line-height: 16px;
        text-align: center;
        //border: 1px solid;
        margin: 0 12px;
        padding: 0 24px;
        min-height: 50px;
        width: max-content;
        &>a{
          color: #ffffff;
          text-decoration: none;
        }
      }
    }

  }
}

.blocksContainer{
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  margin-top: -150px;
  &>.blocksRow{
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;




    &>.blocksWrapper{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      &>.blockItem{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 160px;
        width: 256px;
        padding: 50px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #fff;
        //box-shadow: 0 20px 60px 0 rgb(0 0 0 / 5%);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        &>.blockIcon{
          width: 50px;
          height: 50px;
          &>img{
            width: 100%;
          }
        }
        &>.blockTitle{
          margin-top: 17px;
          margin-bottom: 5px;
          color: #272727;
          text-align: center;
          font-weight: 600;
          font-family: Metropolis, sans-serif;
          font-size: 19px;
          line-height: 2.5em;
        }
        &>.blockParagraph{
          margin-top: 0;
          margin-bottom: 0;
          font-family: Metropolis, sans-serif;
          font-size: 16px;
          line-height: 1.7em;
          font-weight: 400;
          text-align: center;
        }
      }
    }

  }
}

.paragraphPictureContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;

  .imageContainer{
    width: calc(35% + 36px);
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    &>img{
      max-width: 600px;
    }
  }

  .imageContainerMobile{
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    &>img{
      max-width: 500px;
    }
  }




  .textParagraphContainer{
    position: relative;
    width: calc(55% - 36px);
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    margin: 0 36px;
    display: flex;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    max-width: 870px;
    margin-top: 100px;

    &>.buttonGroupContainer{
      position: relative;
      display: flex;
      font-family: Metropolis, sans-serif;
      font-size: 15px;
      line-height: 16px;
      width: 85%;
      min-height: 48px;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      color: #ffffff;

      &>.buttonItem{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #379bb3;
        //font-family: Metropolis, sans-serif;
        //font-size: 15px;
        //line-height: 16px;
        text-align: center;
        //border: 1px solid;
        margin: 0 12px;
        padding: 0 24px;
        min-height: 50px;
        border: none;
        color: #ffffff;
        &:hover{
          cursor: pointer;
          background-color: #61dafb;
        }
      }
    }

    &>.mainParagraphTitle{
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 600;
      color: #379bb3;
      line-height: 32px;
      font-size: 19px;
      font-family: Metropolis, sans-serif;
      box-sizing: border-box;
      text-align: left;
    }
    &>.mainParagraphSubtitle{
      //margin-top: 24px;
      //margin-bottom: 0;
      font-family: Metropolis, sans-serif;
      font-size: 62px;
      line-height: 1.2em;
      font-weight: 600;
      margin-top: 28px;
      margin-bottom: 40px;
      text-align: left;
    }
  }
}

@media screen and (max-width: 1500px) {
  .paragraphPictureContainer {
    flex-direction: column;

    &>.imageContainer{
      width: 100%;
      &>img{
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        max-width: 500px;
      }
    }
  }

  .blocksContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 100px;
    &>.blocksWrapper{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 100%;
    }
  }
}


.treatmentListContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 98%;
  margin: 32px auto;

  &>.treatmentItem{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: calc(50% - 10px);
    padding: 0 5px;
    justify-content: flex-start;
    line-height: 32px;
    border-bottom: 1px solid #d5d1d13b;

    &>.treatmentItemIcon{
      color: #379bb3;
      margin: 0 4px;
      font-size: 14px;
    }

    &>.treatmentItemText{
      margin-left: 12px;
    }
  }

}


.imageParagraphContainer{
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #379bb31f;
  padding: 42px 0;

  &>.image{
    width: 50%;
  }
  &>.paragraphContainer{
    position: relative;
    display: flex;
    width: calc(50% - 42px);
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    padding: 21px;
    background: #ffffff;
    margin-left: -110px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &>.contactFormContainer{
      position: relative;
      width: 100%;
      min-height: 100px;
      //border: 1px solid;
      margin: 32px;

      &>.lineWrapper{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        margin: 12px auto;

        &>.lineElement{
          position: relative;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-content: center;
          justify-content: flex-start;
          align-items: center;
          line-height: 41px;
          border: 1px solid #e5e5e5;
          padding: 0 12px;
          width: 40%;
          border-radius: 3px;
          margin: 6px auto;
          font-size: 13px;
          font-family: Metropolis, sans-serif;
          color: #272727;
          font-weight: 400;

          &:focus {
            outline: none !important;
            border-color: #1f6878;
            box-shadow: 0 0 10px #1f6878;
          }


          &>.icon{
            position: relative;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            padding: 12px 9px;
          }
        }
      }
    }


    &>.title{
      font-family: Metropolis, sans-serif;
      font-size: 36.5px;
      line-height: 1.4em;
      font-weight: 600;
      margin: 32px auto;
    }
    &>.paragraph{
      margin-top: 20px;
      margin-bottom: 38px;
      line-height: 30px;
      font-size: 18px;
      /* text-align: left; */
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: stretch;
      justify-content: center;
      align-items: center;
      font-family: Hind, sans-serif;
      color: #595959;
    }

    &>.statisticsContainer{
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-around;
      align-items: center;
      width: 80%;
      margin: 42px auto;

      &>.statisticElementWrapper{
        height: 60px;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #379bb3;
        padding: 12px;
        /* background: #379bb3; */
        /* color: white; */
        border-radius: 5px;
        &>.number{
          margin-top: 0px;
          margin-bottom: 0px;
          font-family: Metropolis, sans-serif;
          font-size: 23px;
          line-height: 1.5em;
          font-weight: 600;
        }
        &>.text{
          color: #595959;
        }
      }
    }
    &>.button{
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #379bb3;
      //font-family: Metropolis, sans-serif;
      //font-size: 15px;
      //line-height: 16px;
      text-align: center;
      //border: 1px solid;
      margin: 0 12px;
      padding: 0 24px;
      min-height: 50px;
      width: max-content;
      color: #ffffff;
      border: none !important;
      -webkit-transition: color 300ms ease;
      transition: color 300ms ease;
      &:hover{
        cursor: pointer;
        background-color: #00beea;
      }
    }
  }

}


.treatmentBlocksContainer{
  position: relative;
  display: flex;
  margin: 32px auto;
  &>.blockWrapper {
    border: 1px solid #f3f3f3;
    position: relative;
    display: flex;
    width: 270px;
    height: 250px;
    background-color: white;
    padding: 40px 50px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 21px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &>.icon{
      font-size: 40px;
      border: 1px solid #d6d6d6;
      padding: 6px;
      border-radius: 100%;
      width: 60px;
      height: 60px;
      position: relative;
      display: flex;
      text-align: center;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
    &>.stepWrapper{
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 85px;
      height: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 40px;
      background-color: #272727;
      color: #fff;
      font-family: Metropolis, sans-serif;
      font-size: 13px;
      line-height: 1.2em;
      font-weight: 400;
    }
    &>.title{
      margin-bottom: 11px;
      text-align: center;
      margin-top: 0px;
      font-family: Metropolis, sans-serif;
      font-size: 19px;
      line-height: 1.7em;
      font-weight: 600;
    }
    &>.paragraph{
      color: #595959;
      text-align: center;
    }
  }
}
.testimonialsBlocksContainer{
  position: relative;
  display: flex;
  margin: 32px auto;
  &>.blockWrapper {
    border: 1px solid #f3f3f3;
    position: relative;
    display: flex;
    width: 300px;
    min-height: 450px;
    background-color: white;
    padding: 40px 50px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 21px;
    &>.icon{
      //padding: 6px;
      border: 1px solid #d6d6d6;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      position: relative;
      display: flex;
      text-align: center;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      box-shadow: #00beea73 0px 7px 29px 0px;
      &>img{
        width: 100px;
        height: 100px;
        border-radius: 100%;
      }
    }
    &>.stepWrapper{
      display: flex;
      width: 100%;
      height: 30px;
      //margin-top: 20px;
      //margin-bottom: 20px;
      justify-content: flex-start;
      align-items: center;
      border-radius: 40px;
      color: #fff;
      font-family: Metropolis, sans-serif;
      font-size: 13px;
      line-height: 1.2em;
      font-weight: 400;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    &>.testimonial-rating-wrapper{
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 20px;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      &>.rating-text{
        margin-right: 12px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: Metropolis, sans-serif;
        font-size: 15px;
        line-height: 1.6em;
        font-weight: 400;
        color: #595959;
      }
      &>.rating-star-wrapper{
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        &>div{
          display: flex;
          margin: 0 auto;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
        }
      }
    }

    &>.nameJobContainer{
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      &>.name{
        font-weight: bold;
        padding: 6px;
      }
      &>.job{
        color:#272727;
        font-size: 13px;
      }
    }

    &>.title{
      max-width: 280px;
      //margin-top: 16px;
      margin-bottom: 30px;
      font-family: Hind, sans-serif;
      color: #595959;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
    }
    &>.paragraph{
      color: #595959;
      text-align: center;
    }
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.footer-holder{
  position: relative;
  display: flex;
  width: 100%;
  margin: 0 auto;
  min-height: 100px;
  background-color: #379bb3;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  &>.blockHolder{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    &>.categoryHolder{
      position: relative;
      display: flex;
      width: 400px;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      justify-content: center;
      /* background: red; */
      margin: 12px 21px;
      padding: 12px;
      color: white;
      font-weight: 500;
      &>.title{
        font-size: 18px;
        font-weight: bold;
        color: #272727;
        width: 100%;
        margin-top: 14px;
        text-align: center;
      }
      &>.itemsList{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 12px auto;
        &>.itemContainer{
          position: relative;
          display: flex;
          margin: 6px auto;
          flex-direction: row;
          flex-wrap: nowrap;
          align-content: center;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          &>.itemLeft{
            margin: 0 9px;
           &>a{
             text-decoration: none;
             color: white;
           }
          }
        }
      }
    }
  }
}
