.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}
.logo-container {
  pointer-events: none;
  margin: 0 12px;
  &>img{
    height: 10vmin;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s forwards;
  }
  .logo-container {
    //animation: App-logo-spin infinite 4s forwards;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-menu-holder{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  &>.main-menu-container{
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1190px;
    height: 100%;
    display: flex;


    &>.menu-list-holder-mobile{
      //position: relative;
      //display: block;
      width: 100%;
      height: auto;
      //margin: 24px auto;

      .socialMediaListContainerMobile{
        width: 100%;
        background-color: red;
      }
      .menu-list-container-mobile{
        margin: 24px auto;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        min-width: 300px;
        justify-content: flex-start;
        align-items: center;

        &>.menu-list-item-mobile{
          position: relative;
          width: calc(100% - 24px);
          text-decoration: none;
          text-align: left;
          margin: 12px auto 12px 45px;
        }
      }
    }

    &>.hamburger-react{
      position: absolute !important;
      right: 19px !important;
    }

    &>.menu-list-holder{
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      width: max-content;
      box-sizing: border-box;
      font-family: Arial,sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: #333;
      &>.menu-list-item{
        margin-right: 15px;
        padding: 10px;
        -webkit-transition: color 300ms ease;
        transition: color 300ms ease;
        font-family: Metropolis, sans-serif;
        color: #272727;
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
        text-decoration: none;
        &:hover{
          color: orange;
          cursor: pointer;
        }
      }
    }
  }
}

.social-media-holder{
  min-height: 45px;
  background: #272727;
  color: #ffffff;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  .social-media-container{
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1190px;
    height: 100%;
    display: flex;

    .social-media-item-container{
      font-size: 13px;
      position: relative;
      display: flex;
      //width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      //justify-content: flex-start;
      align-items: center;

      width: 25%;
      justify-content: flex-end;


      &>.separator{
        color: white;
        margin: 0 1px;
      }
    }
  }
}


.social-media-item{
  //color: #ffffff;
  display: flex;
  width: fit-content;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 24px;
  &>.icon{
    margin: 0 4px;
    font-size: 14px;
  }

  &>div>.phoneHref{
    text-decoration: none;
    color: #ffffff;
  }
}
