.background {
    background: linear-gradient(#ffffff, #389bb3);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.scrollText {
    font-size: 1.5rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    height: 10rem;
    width: 25%;
    text-align: center;
    border-radius: 10px;
}

.parallax {
    margin-right: 15%;
}

.sticky {
    margin-left: 15%;
    background-color: #ff6d6d;
}

.horizontalGroup{
    position: relative;
    display: flex;

}
.verticalGroup{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.blue {
    background-color: #5b65ad;
    color: white;
}

.purple {
    background-color: #9d65d0;
}

.blue_2 {
    background-color: rgba(52, 176, 203, 0.63);
    color: white;
}
.background_img{
    background-color: #1f6878;
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 750px) {
    .card {
        width: 40%;
    }

    .parallax {
        margin-right: 1.5rem;
    }

    .sticky {
        margin-left: 1.5rem;
    }
}
